/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    -padding-top: 100px; /* Location of the box */
    left: 0;
    top: 10px !important; 
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-dialog-img{
    width: 80%;
    margin: 0 auto;
}
/* Modal Content */
.modal-body {
    background-color: #fefefe;
    margin: auto;
    -padding: 20px;
    -border: 1px solid #888;
    width: 80%;
}
.modal-body .img{
    width: 100%;
}
.img-thumbnail-small{
    display: inline-block;
    width: 60%;
    height: auto;
    padding: 4px;
    background-color: #fff;
    -border: 1px solid #ddd;
    border-radius: 4px;
    transition: all .2s ease-in-out;
}

.line-across{
    border-bottom: 1px dotted #ddd;
    margin-bottom: 5px;
}

.modal .modal-content .modal-header button.close{
    height:30px;
}
#quoteBtn{
    width: 65px;
}
#quoteBtn:hover span{
    display: none;
}
#quoteBtn:hover:before{
    content: "More Info";
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}